* { 
	font-family: 'Droid Sans',sans-serif;
}

/* Fixing bootstrap */
h3 [class^="icon-"] {
	margin-top: 8px ;
	margin-left: 1px ;
}

.planettip h3 [class^="icon-"] {
	margin-top: 1px ;
	margin-left: 4px ;
}

.planet-list .dl-horizontal dt {
	width : 100px ;
}

.planet-list .dl-horizontal dd {
	margin-left: 120px ;
}

.link {
  cursor: pointer;
}

/* Section headers, partially borrow from bootstrap's navs */


.section-title {
	display:block ;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 0;
	list-style: none;
	*zoom: 1;
	border-bottom: 1px solid #999;
}

.section-title > li {
	display: inline;
	margin-bottom: 0px;
	padding : 0px ;
}

.section-title > .divider {
	margin: auto 1.2em;
	content : "";
}

.section-title > li > a:hover,
.section-title > li > a:focus {
	text-decoration: none;
}

.section-title > li > a > img {
	max-width: none;
}

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 {
	display: inline;
	padding: 0px 5px;
	margin-bottom: 0px;
	line-height: 20px;
}

.section-title .dropdown-menu {
	margin: 2px -10px 0px ;
	-webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.section-title .dropdown-menu > li > a {
	padding: 3px 10px ;
}

.section-title .dropdown-toggle .caret {
  margin-top: 13px;
  border-top-color: #33b5e5;
  border-bottom-color: #33b5e5;
}

.section-title .dropdown-toggle:hover .caret,
.section-title .dropdown-toggle:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}


.section-title > .active > a,
.section-title > .active > a:hover,
.section-title > .active > a:focus {
  color: #999999;
  cursor: default;
  background-color: #060606;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.section-title .active .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

/* tooltip on planets, copied from bootstrap's popover */
.planettip{
	display : none ;
	padding:1px;
	text-align:left;
	white-space:normal;
	background-color:#131517;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,0.2);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}

.planettip.top{
	margin-top:-10px
}

.planettip.right{
	margin-left:10px
}

.planettip.bottom{
	margin-top:10px
}

.planettip.left{
	margin-left:-10px
}

.planettip-title{
	padding:8px 14px;
	margin:0;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
	background-color:#131517;
	border-bottom:1px solid #070809;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0
}

.planettip-title:empty{
	display:none
}

.planettip-content{
	padding:9px 14px
}

.planettip .arrow,.planettip .arrow:after{
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid
}

.planettip .arrow{
	border-width:11px
}

.planettip .arrow:after{
	border-width:10px;
	content:""
}

.planettip.top .arrow{
	bottom:-11px;
	left:50%;
	margin-left:-11px;
	border-top-color:#999;
	border-top-color:rgba(0,0,0,0.25);
	border-bottom-width:0
}

.planettip.top .arrow:after{
	bottom:1px;
	margin-left:-10px;
	border-top-color:#131517;
	border-bottom-width:0
}

.planettip.right .arrow{
	top:50%;
	left:-11px;
	margin-top:-11px;
	border-right-color:#999;
	border-right-color:rgba(0,0,0,0.25);
	border-left-width:0
}

.planettip.right .arrow:after{
	bottom:-10px;
	left:1px;
	border-right-color:#131517;
	border-left-width:0
}

.planettip.bottom .arrow{
	top:-11px;
	left:50%;
	margin-left:-11px;
	border-bottom-color:#999;
	border-bottom-color:rgba(0,0,0,0.25);
	border-top-width:0
}

.planettip.bottom .arrow:after{
	top:1px;
	margin-left:-10px;
	border-bottom-color:#131517;
	border-top-width:0
}

.planettip.left .arrow{
	top:50%;
	right:-11px;
	margin-top:-11px;
	border-left-color:#999;
	border-left-color:rgba(0,0,0,0.25);
	border-right-width:0
}

.planettip.left .arrow:after{
	right:1px;
	bottom:-10px;
	border-left-color:#131517;
	border-right-width:0
}

/* Some theming on the inside of planets tooltips */

.planettip .dropdown, .planettip .dropup {
	display: inline ;
}

.planettip i {
	margin-left: 5px ;
}

/* Generic styling */

html, body {
	 height: 100%;
	 margin: 0px ;
}

body {
	 background-image : url("../img/bgplanet.jpg") ;
	 background-size : cover ;
	 background-color : black ;
	 background-attachment: fixed ;
	 background-position: center top ;
}
.main {
	 background-color : rgba(0,0,0,0.8);
	 padding: 0 10px ;
	 height: 100%;
}

.planet {
	 display: inline-block;
	 width: 20px ;
	 height: 20px ;
	 padding : 0px ;
	 margin: 2px;
	 vertical-align: top;
	 background-size: cover;
	 background-repeat: no-repeat;
	 Background-origin: content-box ;
}

.planet.Gas {
	background-image: url("../img/gas.png") ;
}
.planet.Temperate {
	background-image: url("../img/temperate.png") ;
}
.planet.Storm {
	background-image: url("../img/storm.png") ;
}
.planet.Plasma {
	background-image: url("../img/plasma.png") ;
}
.planet.Lava {
	background-image: url("../img/lava.png") ;
}
.planet.Barren {
	background-image: url("../img/barren.png") ;
}
.planet.Ice {
	background-image: url("../img/ice.png") ;
}
.planet.Shattered {
	background-image: url("../img/shattered.png") ;
}
.planet.Oceanic {
	background-image: url("../img/oceanic.png") ;
}

.planet-list {
	 margin: 0px !important ;
	 font-size: 16px ;
	 
}

.planet-list > .control-label {
	 padding: 0px !important ;
	 padding-top: 2px !important ;
	 margin: 0px !important ;
}

.planet-list > .controls {
	 margin-left : 165px !important ;
}

span.planet-list{
	 margin: 0 5px ;
}

.planet-list [type=radio] {
	 margin: 0px ;
}



.tree, .tree * {
	 margin: 0; padding: 0;
}

div.tree {
	 margin: 0px auto ;
	 overflow-x: auto;
	 overflow-y: hidden;
}	 

.tree li {
	 text-align: left ;
	 list-style-type: disc ;
	 list-style-position: inside ;
}

.tree ul {
	 margin: 0;
}

ul.tree {
	margin: 0; padding: 0;
	padding-top: 20px; position: relative;
	white-space: nowrap;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	text-align: center ; 
}

li.tree {	
	float:none;
	display:inline-block;
	white-space: nowrap;
	vertical-align: top;	
	margin: 0 -2px 0 -2px; 
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

li.tree::before, li.tree::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #666;
	width: 50%; height: 20px;
}
li.tree::after{
	right: auto; left: 50%;
	border-left: 1px solid #666;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
li.tree:only-child::after, li.tree:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
li.tree:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
li.tree:first-child::before, li.tree:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
li.tree:last-child::before{
	border-right: 1px solid #666;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
li.tree:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
ul.tree ul.tree::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #666;
	width: 0; height: 20px;
}

li.tree button, li.tree a, li.tree div {
	 margin: 0;
	 border: 1px solid #666;
	 padding: 5px 10px;
	 text-decoration: none;
	 display: inline-block;
	 background-color: transparent;
	 color: #bbb;
	 
	 border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 
	 transition: all 0.5s;
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
}

.tree .tree-hover{
	background: #294559; border: 1px solid #94a0b4;
}

li.tree button:hover, li.tree a:hover, li.tree div:hover {
	background: #294559; border: 1px solid #94a0b4;
}

.tree .tree-select{
	background: #1E5A25; border: 1px solid #56BE2F;
}
