/*.navbar-form > .btn {
  padding: 10px 15px ;
  margin-top: 0px ;
  border-style: none ;
  background-color: transparent;
  background-image: none;
  color: rgb(119, 119, 119);
}

.navbar-form > .btn:hover {
  color: rgb(51, 51, 51);
}*/

* {
	 margin: 0; padding: 0;
}


.planet {
	 display: inline-block;
	 width: 13px ;
	 height: 13px ;
	 padding : 1px ;
	 margin-top: 1px;
	 margin-right: 1px;
	 line-height: 14px;
	 vertical-align: text-top;
	 background-image: url("../img/planet.png") ;
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: 0      0;
}


.planet-list {
	 margin: 0px !important ;
}

.planet-list > .control-label {
	 padding: 0px !important ;
	 padding-top: 2px !important ;
	 margin: 0px !important ;
}

.planet-list > .controls {
	 margin-left : 165px !important ;
}

.planet-list span {
	 margin: 0 5px ;
}

.planet-list [type=radio] {
	 margin: 0px ;
}

div.tree {
	 margin: 0px auto ;
}	 

.tree li {
	 text-align: left ;
	 list-style-type: disc ;
	 list-style-position: inside ;
}

.tree ul {
	 margin: 0;
}

ul.tree {
	 margin: 0; padding: 0;
	 padding-top: 20px; position: relative;
	 
	 transition: all 0.5s;
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
}

li.tree {
	 margin: 0;
	 float: left; text-align: center;
	 list-style-type: none;
	 position: relative;
	 padding: 20px 5px 0 5px;
	 
	 transition: all 0.5s;
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

li.tree::before, li.tree::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
li.tree::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
li.tree:only-child::after, li.tree:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
li.tree:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
li.tree:first-child::before, li.tree:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
li.tree:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
li.tree:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
ul.tree ul.tree::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

li.tree button, li.tree a, li.tree div {
	 margin: 0;
	 border: 1px solid #ccc;
	 padding: 5px 10px;
	 text-decoration: none;
	 color: #444;
	 background-color: #F7F7F7 ;
	 font-family: arial, verdana, tahoma;
	 font-size: 11px;
	 display: inline-block;
	 
	 border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 
	 transition: all 0.5s;
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
}

.tree .tree-hover{
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}

li.tree button:hover, li.tree a:hover, li.tree div:hover {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}

.tree .tree-select{
	background: #8BE655; color: #000; border: 1px solid #56BE2F;
}
